In [1]:
# import packages
# packages are used to access certain functions within the packages that perform specific things for us

# pandas is used to manipulate and clean DataFrames (tables)
import pandas as pd
# in this case, numpy is used to assign values, similar to CASE/WHEN in SQL
import numpy as np

In [2]:
### Pre-work Step 1
# This step specifies the column widths that you see in the "caltpa file layout.txt" file.
# Specify the column widths for use in pd.read_fwf() below.
# Need to start the index at 0.
col_widths = [
    (0,9), #1
    (9,17), #2
    (17,20), #3
    (20,21), #4
    (21,38), #5
    (38,48), #6
    (48,49), #7
    (49,50), #8
    (50,58), #9
    (58,59), #10
    (59,61), #11 
    (61,63), #12
    (63,65),
    (65,68),
    (68,71),
    (71,74),
    (74,77),
    (77,80),
    (80,83),
    (83,86),
    (86,89),
    (89,92),
    (92,93),
    (93,96),
    (96,98),
    (98,-1)
    ]

In [10]:
### Pre-work Step 2
# Specify the column names for use in pd.read_fwf() below.
col_names = [
    'ID_Num', 
    'Reporting Date', 
    'Field Code', 
    'Blank_1', 
    'Last Name', 
    'First Name', 
    'Middle Initial', 
    'Blank_2', 
    'Birthdate',
    'Blank_3', 
    'Number of Attempts', 
    'Cycle Passing Status',
    'Cycle Total Score',
    'Rubric 1',
    'Rubric 2',
    'Rubric 3',
    'Rubric 4',
    'Rubric 5',
    'Rubric 6',
    'Rubric 7',
    'Rubric 8',
    'Rubric 9',
    'Blank_4',
    'Institution',
    'Preparation Program',
    'Field Specialty'
    ]

In [44]:
# Specify the file's location and name
file_location = 'Data/rc4321cycle20150302.asc'

In [45]:
# Read in the data using the function read_fwf, that reads in fixed-width-format data
df = pd.read_fwf(
          str(file_location),
          colspecs = col_widths,
          names = col_names,
          header = None,
          )

In [46]:
# Drop blank columns
df.drop(
    ['Blank_1', 'Blank_2', 'Blank_3', 'Blank_4'],
    axis = 1,
    inplace = True
    )

In [47]:
# View the DataFrame
df.head()

,ID_Num,Reporting Date,Field Code,Last Name,First Name,Middle Initial,Birthdate,Number of Attempts,Cycle Passing Status,Cycle Total Score,...,Rubric 3,Rubric 4,Rubric 5,Rubric 6,Rubric 7,Rubric 8,Rubric 9,Institution,Preparation Program,Field Specialty
0,999123453,20150302,41,DOE1234,JANE12,L,19100111,1,P,23,...,3,2,3,3,3,3,NaN,101,ES,24
1,999123463,20150508,162,DOE12,JOHN12,S,19111115,1,NS,0,...,A9,A9,A9,A9,A9,A99,A99,101,SS,24

In [28]:
# Change column types to string
df['Field Code'] = df['Field Code'].astype(str)

In [29]:
# Pad the zeros in "Field Code".
df['Field Code'] = df['Field Code'].str.zfill(3)

In [48]:
# Insert the campus code in the last column based on "Institution" using np.select().
# Reference: https://stackoverflow.com/questions/49228596/pandas-case-when-default-in-pandas
# 308 == 55 == Campus A
# 326 == 63 == Campus B
# 334 == 65 == Campus C
df['campusID'] = np.select(
    [
        df['Institution'] == 101,
        df['Institution'] == 102,
        df['Institution'] == 103,
    ],
    [
        11,
        12,
        13
    ],
    default = 0
)

In [49]:
# Print the unique values of 'campusID' to see if the np.select worked correctly
print(df['campusID'].unique())

[11]

In [50]:
# Show the head of the DataFrame for inspection.
df.head()

,ID_Num,Reporting Date,Field Code,Last Name,First Name,Middle Initial,Birthdate,Number of Attempts,Cycle Passing Status,Cycle Total Score,...,Rubric 4,Rubric 5,Rubric 6,Rubric 7,Rubric 8,Rubric 9,Institution,Preparation Program,Field Specialty,campusID
0,999123453,20150302,41,DOE1234,JANE12,L,19100111,1,P,23,...,2,3,3,3,3,NaN,101,ES,24,11
1,999123463,20150508,162,DOE12,JOHN12,S,19111115,1,NS,0,...,A9,A9,A9,A9,A99,A99,101,SS,24,11

In [53]:
# Save the file to a .csv file
df.to_csv("Processed_CalTPA Data.csv", index = False)